.detail-image__block {
  text-align: start;
}

.detail-image__item {
  margin-top: 40px;
  margin-left: 20px;
  vertical-align: sub;
}

.detail-info {
  text-align: start;
}

.detail-info-heading {
  margin-top: 90px;
}

.bugfix {
  letter-spacing: 0;
}

.logofix {
  letter-spacing: 0.11em;
}

.h2-details {
  margin-top: 11px !important;
  letter-spacing: 0em !important;
  margin-bottom: 11px !important;
  font-size: 36.1px !important;
}

.details-info__about {
  margin-top: 17px;
  letter-spacing: 0.0143em;
  font-weight: 300;
  line-height: 26px;
}

.details-info-list {
  margin-top: 25px;
  padding-left: 0px;
  list-style-type: none;
}

.details-info-list__item:first-child {
  list-style: none;
  background-image: url("/img/detail/icons/details_icons_1.png");
}

.details-info-list__item:nth-child(2) {
  background-image: url("/img/detail/icons/details_icons_2.png");
  background-position: 3px 9px;
}

.details-info-list__item:nth-child(3) {
  background-image: url("/img/detail/icons/details_icons_3.png");
  background-position: 3px 9px;
}

.details-info-list__item:last-child {
  background-image: url("/img/detail/icons/details_icons_4.png");
}

.details-info-list__item {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.015em;
  color: #1b1b1b;
  line-height: 36px;
  list-style: none;
  background-position: 0 9px;
  padding-left: 25px;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .detail-image__item {
    margin-top: 0px;
    margin-left: 0px;
  }
}