.overview-cont {
  margin-top: 61.5px;
}

.overview-info {
  text-align: center;
  margin-bottom: 73px !important;
}

.h5-overview {
  margin-bottom: 10px !important;
}

.h2-overview {
  margin-bottom: 12px !important;
}

.over-item {
  margin-top: 3px;
  text-align: center;
  padding: 0 15px;
}

.over-item__image {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 100%;
  border: 2px #ededed solid;
  margin-bottom: 28px;
}

.over-item__image__item {
  padding: 28px;
}

.over-item__heading {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.007em;
  color: #1a1a1a;
  margin-bottom: 10px !important;
}

.over-item__info {
  font-size: 18px !important;
  color: #999999;
  letter-spacing: 0.015em;
  line-height: 26.5px;
}