.contact-wrapper {
    background-color: $browngray;
    min-height: 715px;
    .contact-cont {
        .contact-info  {
            text-align: center;
            margin-bottom: 50px;
            .contact-info-header {
                .h5-cont {
                    padding-top: 56px;
                    margin-bottom: 11px;
                }
                .h2-cont {
                    margin-bottom: 14px;
                    color: $black;
                    letter-spacing: -0.01em;
                }
            }
        }
        .contacts-tar  {
            margin-bottom: 68.3px;
            .contacts-item {
                text-align: center;
                .contacts-item__tel {
                    text-align: center;
                    .contacts-item__tel__img {
                        margin-bottom: 26px;
                    }
                    .contacts-item__tel__text {
                        .contacts-item__text__item {
                            margin: 0;
                            margin-bottom: 0;
                            color: $lightgray;
                            font-size: 18px;
                            letter-spacing: 0.015em;
                            line-height: 26px;
                        }
                        .tel {
                            letter-spacing: 0.02em !important;
                            margin-left: -4px;
                        }

                    }
                }
                .contacts-item__geo {
                    text-align: center;
                    .contacts-item__geo__img {
                        margin-bottom: 26px;
                    }
                    .contacts-item__geo__text {
                        .contacts-item__text__item {
                            margin: 0;
                            margin-bottom: 0;
                            color: $lightgray;
                            font-size: 18px;
                            letter-spacing: 0.015em;
                            line-height: 26px;
                        }
                    }
                }
                .contacts-item__mail {
                    text-align: center;
                    .contacts-item__mail__img {
                        margin-bottom: 31px;
                        margin-top: 2px;
                        margin-left: -3px;
                    }
                    .contacts-item__mail__text {
                        .contacts-item__text__item {
                            margin: 0;
                            margin-bottom: 0;
                            color: $lightgray;
                            font-size: 18px;
                            letter-spacing: 0.015em;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
        .cont-row {

        }
    }
}


.cont-row {
    position: relative;
}
.cont-form {
    z-index: 9999;
}
.cont-form__wrapper {
    position: absolute;
    min-height: 360px;
    max-width: 770px;
    min-width: 290px;
    background-color: $dark;
}
.form-row {
    margin: 0!important;
    margin-top: 59px!important;
}
.form-row__col {
    padding-left: 0!important;
}
.form-row__col._2 {
    margin-left: -2px;
}
.form-row__col._1 {
    margin-left: 2px;
}
.form__input  {
    background-color: $dark;
    border: 1px solid $darkgray;
    max-width: 300px;
    border-radius: 4px;
    padding-left: 16px;
    opacity: 0.2;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;  
}
.form__input.form_textarea {
    padding-top: 14px;
    padding-left: 20px;
}
.form__input, .form__item {
    //max-width: 300px;
}
.form__input:focus {
    border: 2px solid $lightblue;
    box-shadow: 0 0 15px $lightblue;
    outline-style: none;
}
.form__item ._error {
    box-shadow: inset 0 0 15px #fac3c3;
    border: 1px solid #fd9898;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    color: #dc7f7f;
    opacity: 0.5; 
}
.form_textarea {
    //max-width: 300px;
    height: 190px;
    resize: none;
}
.form__input._name, .form__input._email, .form__input._spec {
    height: 50px;
    margin-bottom: 20px;
} 
.form__item__button {
    text-align: end!important;
}
.form__input__button {
    margin-right: 16px;
    margin-top: 15px;
}
@media (min-width: 1440px) {
    .cont-form__wrapper {
        width: 770px;
    }
    .form__input {
        width: 300px;
    }
}

@media (max-width: 1439px) {
    .cont-form__wrapper {
        @include adaptiv-value("width", 1000, 290, 0);
    }
    .form__input {
        @include adaptiv-value("width", 300, 200, 0);
    }
    .form-row__col._2 {
        text-align: end;
    }
    .form__input {
        width: 100%;
    }
    .rehearsal-heading__text {
        @include adaptiv-value("font-size", 36, 30, 0);
    }
}
@media (max-width: 991px) {
    .form-row__col {
        //padding-left: 15px!important;
    }
    .cont-form__wrapper {
        position: relative;
    }
    .contact-wrapper {
        @include adaptiv-value("padding-bottom", 0, 50, 0);
    }
}
@media (max-width: 767px) {
    .form-row__col, .form__item__button {
        text-align: center!important;
    }
    .form-input {
        margin: 0 auto;
    }
}