.detail {
    .detail-wrapper {
        background-color: $white;
        margin-top: 25px;
        margin-bottom: 18px;
        .detail-cont {
            .detail-row {
                .detail-image {
                    .detail-image__block {
                        text-align: start;
                        .detail-image__item {
                            margin-top: 40px;
                            margin-left: 20px;
                            vertical-align: sub;
                        }
                    }
                }
                .detail-info {
                    text-align: start;
                    .detail-info-heading {
                        margin-top: 90px;
                        .h5-details {

                        }
                        .h2-details {
                            margin-top: 11px;
                            letter-spacing: -0.000em;
                            margin-bottom: 12px;
                            font-size: 36.10px;
                        }
                    }
                    .detail-info-cont {
                        .details-info__about {
                            margin-top: 17px;
                            //padding-right: 84px;
                            letter-spacing: 0.0143em;
                            font-weight: 300;
                            line-height: 26px;
                        }
                        .details-info-list {
                            margin-top: 24px;
                            padding-left: 1px;
                            list-style-type: none;
                            .details-info-list__item {
                                position: relative;
                                font-size: 18px;
                                font-weight: 400;
                                letter-spacing: 0.02em;
                                color: $black;
                                line-height: 36px;
                                background-position: -1px 10px;
                                padding-left: 25px; 
                                background-repeat: no-repeat;
                                &:first-child {
                                    list-style: none;
                                    background-image: url('/img/detail/icons/details_icons_1.png');
                                }
                                &:nth-child(2) {
                                    background-image: url('/img/detail/icons/details_icons_2.png');
                                    background-position: 2px 9px;
                                }
                                &:nth-child(3) {
                                    background-image: url('/img/detail/icons/details_icons_3.png');
                                    background-position: 2px 10px;
                                }
                                &:last-child {
                                    background-image: url('/img/detail/icons/details_icons_4.png');
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.customise {
    .customise-wrapper {
        background-color: $easybrown;
        padding-bottom: 17px;
        min-height: 526px;
        .customise-cont {
            .customise-row {
                .customise-info {
                    padding-right: 0;
                    .customise-info-heading {
                        margin-top: 129px;
                        .h2-customise {
                            margin-top: 11px;
                            letter-spacing: -0.01em;
                            margin-bottom: 12px;
                            font-size: 37px;
                        }
                    }
                    .customise-info__about {
                        margin-top: 15px;
                        letter-spacing: 0.0143em;
                        font-weight: 300;
                        line-height: 26px;
                    }
                }
                .customise-img {
                    .customise-image {
                        padding: 0;
                        .customise-image__block {
                            .customise-image__item {
                                margin-top: 33px;
                                margin-left: -29px;
                                vertical-align: sub;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1220px) {
    .customise-image__item {
        max-width: 718px!important;
    }
}
@media (max-width: 767px) {
    .detail-image__item {
        margin-top: 0px;
        margin-left: 0px;
    }
}
