.feedbacks {
    .feed-wrapper {
        background-image: url('/img/feedback/feedback_bg.png');
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        min-height: 640px;
        //margin-bottom: 5rem;
        .feed-cont {
            .feed-info {
                text-align: center;
                .feed-info-header {
                    .h5-feed {
                        margin-top: 61px;
                    }
                    .h2-feed {
                        color: $white;
                        margin-top: 10px;
                        margin-bottom: 15px;
                        letter-spacing: -0.01em;
                    }
                    .feed-item__border {
                        //margin-bottom: -8px;
                    }
                }
            }
            .feed-comments {
                padding: 0;
                margin-top: 79px;
                .feed-carousel {
                    text-align: center;
                    .feed-indicators  {
                        margin-top: 80px;
                        & li {
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: transparent;
                            border: 1.5px solid rgba($color: $white, $alpha: 0.2); 
                            margin-top: auto;
                            margin-bottom: auto;
                            margin: auto 10px;
                            &.active {
                                background-color: $white;
                                width: 14px;
                                height: 14px;
                                margin-top: auto;
                                margin-bottom: auto;
                                border: 0;
                            }
                        }
                        .feed-indicators__item {

                        }
                        .feed-indicators__item__active.active {

                        } 
                    }
                    .feed-carousel-wrapper {
                        .feed-carousel-item {
                            margin-bottom: 110px;
                            color: $white;
                            .cite {
                                margin-bottom: 60px;
                                .feed-carousel-item__cite {
                                    .feed-carousel-item__cite__item {
                                        font-size: 24px;
                                        font-weight: 400;
                                        color: #ffffff;
                                        padding: 0;
                                        width: 100%;
                                        margin-bottom: 22px;
                                        margin-left: -1px;
                                        font-style: italic;
                                        text-align: start;
                                        letter-spacing: 0.00em;
                                        line-height: 32px;
                                    }
                                    .feed-carousel-item__author {
                                        text-align: start;
                                        .feed-carousel-item__author__row {
                                            margin: 0;
                                            .feed-carousel-item__author__image {
                                                .feed-carousel-item__author_image__item {
                                                    border-radius: 50%;
                                                    margin-right: 24px;
                                                }
                                            }
                                            .feed-carousel-item__author_pos-img {
                                                margin-right: 24px;
                                                .feed-carousel-item__author__name {
                                                    margin-bottom: 0;
                                                    margin-top: 6px;
                                                }
                                                .feed-carousel-item__author__pos {
                                                    font-weight: 700;
                                                    font-size: 14px;
                                                    margin-top: 9px;
                                                    letter-spacing: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}








@media (max-width: 767px) {
    .feed-carousel-item__cite__item {
        text-align: center!important;
    }
    .feed-carousel-item__author {
        text-align: center;
    }
    .feed-carousel-item__author__image {
        margin: 0 auto;
    }
}