@import "./variables.scss";
@import "./media.scss";


.footer {
    margin-top: auto;
    display: block;
    .footer-wrapper {
        background-color: $dark;
        min-height: 160px;
        display: flex;
        align-items: center;
        .footer-cont {
            max-height: 80px;
            .footer-icons-row {
                margin-bottom: 17px;
                margin-top: 2px;
                i {
                    color: $darkgray;
                    font-size: 19px;
                    padding: 0 15px;
                    padding-top: 12px; 
                    padding-bottom: 29px;
                    height: 18px;
                    &hover {
                        color: $browngray;
                    }
                }
                .fa-first {
                    padding-left: 0;
                    padding-right: 11px;
                }
                .fa-second {

                }
                .fa-twitter__cust {
                    color:  $lightblue;
                }
                .fa-facebook {

                }
                .fa-last {
                    padding-right: 0;
                }
            }
            .footer-copyrights {
                .footer-copyrights__item {
                    text-transform: uppercase;
                    color: $darkgray;
                    margin: 0;
                    font-weight: 700;
                    font-size: 14px;
                    @media (max-width: 767px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}