@import "./variables.scss";
@import "./media.scss";
.overview {
    .overview-wrapper {
        background-color: $white;
        margin-bottom: 52px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        .overview-cont {
            margin-top: 61.5px;
            @media (max-width: 767px) {
                margin-top: 20px;
            }
            .overview-info {
                text-align: center;
                margin-bottom: 72px;
                @media (max-width: 767px) {
                    margin-bottom: 20px;
                }
                .h5-overview {
                    margin-bottom: 11px;
                }
                .h2-overview {
                    margin-bottom: 11px;
                    letter-spacing: -0.01em;
                }
                .over-item__border {
                    margin-bottom: -20px;
                }
            }
            .over-row {
                .over-block {
                    .over-item {
                        margin-top: 3px;
                        text-align: center;
                        padding: 0 15px;
                        .over-item__image {
                            width: 90px;
                            height: 90px;
                            margin: 0 auto;
                            border-radius: 100%;
                            border: 2px $browngray solid;   
                            margin-bottom: 28px;
                            .over-item__image__item {
                                padding: 28px;
                            }
                        }
                        .over-item__heading {
                            font-size: 24px;
                            font-weight: 600;
                            letter-spacing: -0.0095em;
                            color: $black;
                            margin-bottom: 12px;
                        }
                        .over-item__info {
                            font-size: 18px;
                            color: $lightgray;
                            letter-spacing: 0.015em;
                            line-height: 26.5px;
                        }
                    }
                }
            }
        }
    }
}