$grid-columns: 12;
$grid-gutter-width: 30px;
$lightblue: #008ed6;
$white: #ffffff;
$lightgray: #999999;
$easybrown: #f2f2f2;
$dark: #15141a;
$darkgray: #444348;
$black: #1a1a1a;
$browngray: #ededed;
.contact-wrapper {
    min-height: 715px;
    background-color: $browngray;
}
.contact-info {
    text-align: center;
    margin-bottom: 40px;
}
.h5-cont {
    padding-top: 56px!important;
    margin-bottom: 11px!important;
}
.h2-cont {
    margin-bottom: 11px!important;
    color: $black!important;
}