$lightblue: #008ed6;
$white: #ffffff;
$lightgray: #999999;
$easybrown: #f2f2f2;
$dark: #15141a;
$darkgray: #444348;
$black: #1a1a1a;
$browngray: #ededed;
.headi {
    background-image: url('/img/header/header_bg.png');
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
.header {
    min-height: 100px;
    align-items: center;
    vertical-align: center;
    text-align: center;
    margin-bottom: 20px;
}
.head-container {
    //margin-top: 41px;
}
.nav-link {
    padding-right:  0px!important;
    padding-left: 0px!important;
    font-size: 16px!important;
    font-weight: 800;
    letter-spacing: -0.0015em;
}
.nav-item {
    margin-right: 21.5px;   
}
.nav-item:last-child {
    margin-right: 0!important;
}
.head-navbar {
    padding: 0px!important;
    min-height: 100px;
}
.nav-menu {
}
.logo {
    display: flex;
    text-align: center;
}
.logo-info {
    /*opacity: 0.3;
    font-family: 'Source Sans Pro';
    font-size: 9px;
    line-height: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    color: $white;
    text-align: start;
    margin: auto 0;
    margin-left: 5px;*/

    opacity: 0.3;
    font-family: 'Source Sans Pro';
    font-size: 9px;
    line-height: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    color: $white;
    text-align: start;
    margin: auto 0;
}

.navbar-nav {
    display: block;
}

.head-navbar {
    padding-left: 0!important;
    padding-right: 0!important;
}
.nav-lgo {
    display: flex;
    flex-wrap: nowrap;
    //border: 2px solid $white;
    padding: 20px 0;
    padding-left: 0!important;
}
.menu {
    margin: 0 auto!important;
}


.navbar-brand {
    /*font-family: 'Quicksand', sans-serif;
    font-size: 25.5px!important; 
    //line-height: 58px;
    font-weight: 900;
    text-transform: uppercase;
    color: $white!important;
    //padding: 0 15px;*/
    font-family: "Quicksand", sans-serif;
    font-size: 24px !important;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff !important;
    margin-right: 5px !important;
    letter-spacing: 0.6px;
}
.navbar-collapse {
}


.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px!important; 
    //line-height: 58px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white!important;
    //padding: 0 15px;
    margin-right: 5px!important;
    letter-spacing: 0.6px;
}
.logo-info {
    opacity: 0.3;
    font-family: 'Source Sans Pro';
    font-size: 9px; 
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    color: $white;
    text-align: start;
    margin: auto 0;
}
.nav-lgo {
    display: flex;
    flex-wrap: nowrap;
    //border: 2px solid $white;
    padding: 20px 0;
    padding-left: 0!important;
}
@media (max-width: 1200px) {
    .navbar-brand {
        //font-size: calc(20px + 5.5 * ((100vw - 320px) / 1600))!important;
    }
    .nav-lgo {
        flex-wrap: wrap!important;
        //margin-left: auto;
        text-align: center;
    }
}