//@import "node_modules/bootstrap/js/bootstrap.js";
@import "node_modules/bootstrap/scss/bootstrap";
//@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
//@import "node_modules/bootstrap/scss/_grid.scss";
//@import "node_modules/bootstrap/js/popper.min.js";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;0,700;1,400;1,600;1,700&display=swap');
@import "functions";
@import "variables";
@import "mixins/deprecate";
@import "mixins/breakpoints";
@import "mixins/grid-framework";
@import "mixins/grid";
@import "./mixin.scss";
@import "./variables.scss";
@import "./media.scss";
@import 'header';
@import 'overview';
@import 'detail';
@import 'rehearsal';
@import 'feedbacks';
@import 'pricing';
@import 'contact';
@import 'footer';
* {
    box-sizing: border-box;
    //overflow: hidden;
    //display: flex;
    //flex-direction: column;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16.2px;
    min-height: 100%;
    transition: all 0.7s ease-out;
    width: 100%;
    max-width: 100%;
}

a {
    color: $white;
}

h1 {
    font-size: 48px;
    line-height: 65px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: normal;
}

h2 {
    font-size: 37px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: 0.01em;
    color: $black;
    margin: 0;
}

h5 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $lightblue;
    margin: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid $browngray;
    border-top-color: $browngray;
}

button {
    text-transform: uppercase;
}

button:hover {
    transition: 1s;
    box-shadow: 10px 5px 5px rgba(0, 142, 214, 0.5);
}

.inform {
    min-height: 480px;
}

.container {
    max-width: 1200px;
    //display: flex;
}

.btn-primary {
    width: 160px;
    height: 50px;
    background-color: $lightblue;
    box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.1);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    padding: 0 auto;
}

.btn-outline-secondary {
    width: 160px;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    padding: 0 auto;
}

.image-poster {
    max-height: 100%;
} 

.image-poster__item {
    vertical-align: sub;
}

.col {

}

.block {
    background-color: transparent;
    border: 2px solid $white;
    height: 100%;
    // padding: 0 20px;
    //text-align: center;
}

.centered {
    text-align: center;
}

p {
    font-size: 18px;
}

@media (max-width: 991px) {
    .navba {
        transition: 2, 7s ease;
        display: block;
        margin: 10px 0;
    }
    .navbar-collapse {
        border: 2px solid $white;
    }
    .nav-item.active {
        border-bottom: none;
        background-color: $lightblue;
        ;
    }
    .nav-item {
        margin-right: 0p;
    }
}

.blocks {
    background-color: transparent;
    border: 2px solid $lightblue;
    height: 100%;
    min-height: 100px;
    padding: 0;
}

.pricing-wrapper {
    background-color: $white;
}












@media (max-width: 991px) {
    .info-row {
        flex-wrap: wrap;
    }
    .rehearsal-heading {
        padding-right: auto;
    }
}

@media (min-width: 992px) {
    .headi {
        height: 640px;
    }
}

@media (max-width:767px) {

    .info {
        margin-bottom: 30px;
    }
    .info-image__block {
        text-align: center;
    }
    .info-cont__buttons {
        text-align: center;
        margin: 0 auto;
    }
    .info-cont__heading {
        text-align: center;
    }
    .info-cont__title {
        text-align: center;
    }
    .info-cont__about {
        padding: 0;
        text-align: center;
    }

}

@media (max-width: 374px) {
    .info-cont__buttons {
        flex-wrap: wrap;
    }
    .info-cont__buttons__primary {
        margin-right: 0px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .info-cont__buttons__outline__secondary {
        margin-left: 0px;
        margin: 0 auto
        //margin-top: 10px;
    }
}


/* css only solution */


/*[class*="col-"]:not(:last-child){
    margin-bottom: 15px;
}*/