$grid-columns: 12;
$grid-gutter-width: 30px;
$lightblue: #008ed6;
$white: #ffffff;
$lightgray: #999999;
$priceborder: #e0e0e0;
$easybrown: #f2f2f2;
$dark: #15141a;
$darkgray: #444348;
$black: #1a1a1a;
$browngray: #ededed;
$pinkiered: #ff7878;


$maxWidthContainer: 1170px;
$maxWidth: 1920px;

$sourcesans-sf: 'Source Sans Pro', sans-serif;


$auto: auto;